/* src/CifradoCesar.css */
.cesar-content {
    display: flex;
    justify-content: space-around; /* Cambiado de 'space-between' a 'space-around' */
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px; /* Añade un espacio entre los dos contenedores principales */
  }
  
  .left-side, .right-side {
    width: 45%; /* Ajustado el ancho para permitir más espacio entre los paneles */
    padding: 30px; /* Aumento del padding interno */
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; /* Asegura que el texto dentro de cada panel esté centrado */
  }
  
  .right-side {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  textarea, select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Añade espacio antes del grupo de botones */
  }
  
  button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #21a1f1;
  }
  