.escitala-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
}

.escitala-grid {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  gap: 40px;
}

/* Ajustes para pantallas pequeñas (menos de 768px) */
@media (max-width: 768px) {
  .escitala-grid {
    flex-direction: column; /* Los contenedores se apilan uno sobre otro en pantallas pequeñas */
    gap: 20px; /* Reducimos el espacio entre los contenedores cuando están apilados */
  }

  .left-side, .right-side {
    width: 100%; /* Cada contenedor ocupará el 100% del ancho disponible */
  }

  button {
    width: 100%; /* Los botones ocuparán todo el ancho disponible en pantallas pequeñas */
    margin-top: 10px; /* Añade un poco de margen entre los botones en pantallas pequeñas */
  }
}

.left-side, .right-side {
  width: 48%;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.right-side {
  background-color: #f0f0f0;
}

.input-group {
  margin-bottom: 20px;
  width: 100%;
}

textarea, select {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}
