/* Añade un espacio solo en la primera tarjeta */
.card:first-of-type {
  margin-top: 30px; /* Ajusta este valor según el espacio que quieras entre el header y la primera tarjeta */
}

/* El resto de tus estilos */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.content-container {
  display: block;
  width: 100%;
  max-width: 600px;
}

.card {
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.cipher-button {
  background-color: #61dafb;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  color: #282c34;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
}

.cipher-button:hover {
  background-color: #21a1f1;
}

body {
  padding-top: 80px; /* Si es necesario, puedes reducir este valor también */
  margin: 0;
}
